@model IEnumerable<EnsaioRegional.Models.Presenca>

@{
    ViewData["Title"] = "Presença";
}

<h1>Presença</h1>

<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataEnsaio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Musico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataEnsaio.CidadeRealizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Musico.NomeMusico)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPresenca">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPresenca">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPresenca">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
