@model IEnumerable<EnsaioRegional.Models.TipoInstrumento>

@{
    ViewData["Title"] = "Tipo de Instrumento";
}

<h1>Tipo de Instrumento</h1>

<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTipoInstrumento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTipoInstrumento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTipoInstrumento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
